.vscode/**
.vscode-test/**
bootstrap/**
scripts/**
tmp/**
images/*.gif
images/*.svg
.gitignore
eslint.config.mjs
tsconfig.json
.vscode-test.mjs
src/**
out/test/**
out/**/*.js.map
*.vsix
*.rb
*.yml
.ruby-lsp
vendor/**
.bundle/**

# Ignore AI files
CLAUDE.md
AGENTS.md
